# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
# Foundry broadcast files
broadcast/*/*/run-*.json
!broadcast/*/*/run-latest.json


# Docs
docs/

# Dotenv file
.env
.last_deploy.json
