[profile.default]
solc = "0.8.23"
src = "src"
out = "artifacts"
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./" }]
optimizer = true
optimizer_runs = 200
optimizer_details = { yul = true }
# TODO: Add via_ir = true and solve issues when building with it
bytecode_hash = "none"
cbor_metadata = false

## Needed by openzepplin upgrade plugin
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

[profile.test]
optimizer = false
fuzz = true
runs = 1000

# TODO configure this profile and use it in CI.
# [profile.ci]

[doc]
out = "docs/soldoc"
title = "RLC Multichain Bridge"
ignore = ["src/mocks/**/*"]

# TODO use vm.rpcUrl("arbitrumSepolia") instead of env variable.
# https://getfoundry.sh/config/reference/testing#rpc_endpoints
# https://getfoundry.sh/reference/cheatcodes/rpc
# https://github.com/foundry-rs/forge-std/blob/ff4bf7db008d096ea5a657f2c20516182252a3ed/src/StdCheats.sol#L255-L271
# [rpc_endpoints]
# mainnet = "${RPC}"
# sepolia = "${SEPOLIA_RPC_URL}"
# arbitrum_one = "${RPC}"
# arbitrum_sepolia = "${ARBITRUM_SEPOLIA_RPC_URL}"
