name: Default

on:
  push:
    branches:
      - main # To trigger coverage updates of `main` on Codecov
  pull_request:
  workflow_call:
    inputs:
      SEPOLIA_RPC_URL:
        required: true
        type: string
      ARBITRUM_SEPOLIA_RPC_URL:
        required: true
        type: string

concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.4
          cache: true

      - name: Show Forge version
        run: forge --version

      - name: Run Forge fmt
        run: forge fmt --check

      - name: Run Forge build
        run: forge build && forge build './src' --sizes

      - name: Run Foundry coverage
        env:
          CI: true
          SEPOLIA_RPC_URL: ${{ inputs.SEPOLIA_RPC_URL || vars.SEPOLIA_RPC_URL }}
          ARBITRUM_SEPOLIA_RPC_URL: ${{ inputs.ARBITRUM_SEPOLIA_RPC_URL || vars.ARBITRUM_SEPOLIA_RPC_URL }}
        run: make generate-coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: iExecBlockchainComputing/rlc-multichain
          exclude: lib

      - name: Run static analysis with slither
        uses: crytic/slither-action@v0.4.1
        with:
          slither-args: --checklist --markdown-root ${{ github.server_url }}/${{ github.repository }}/blob/${{ github.sha }}/
          fail-on: none
          sarif: results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
